{{page-title "ember-tsparticles"}}

<h2 id="title">ember-tsparticles</h2>

<div id="particles" {{particles options=this.options}}/>

<div id="particles-2" {{particles options=this.confetti}}/>

{{outlet}}