{{page-title 'ember-tsparticles'}}

<h2 id='title'>ember-tsparticles</h2>

<Particles class='fixed-size-particles' @options={{this.options}} />

<Particles @options={{this.confetti}} @particlesInit={{this.loadConfetti}} />