<div
  id='particles-{{unique-id}}'
  data-test-id='particles'
  ...attributes
  {{particles
    options=@options
    url=@url
    particlesInit=@particlesInit
    particlesLoaded=@particlesLoaded
  }}
></div>